
body[b-t53rbrb5av] {
    margin-bottom: 60px;
    color: #212529;
}

.colorPrim[b-t53rbrb5av] {
    color: #F7D5B1 !important;
}

.colorSec[b-t53rbrb5av] {
    background-color: #2C3950;
}

.colorBack[b-t53rbrb5av] {
    background-color: #212529;
}
