@model AppTarefas.Models.Categoria

@{
    ViewData["Title"] = "Categoria";
}

<h1>Criar Categoria</h1>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="CategoriaNome" class="form-control"
                       placeholder=" " />
                <label asp-for="CategoriaNome" class="form-label text-dark">Nome da Categoria:</label>
                <span asp-validation-for="CategoriaNome" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CategoriaCor" class="control-label mb-2">Cor:</label>
                <input asp-for="CategoriaCor" type="color" class="form-control" />
                <span asp-validation-for="CategoriaCor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
