@{
    ViewData["Title"] = "Instruções do Projeto";
}

<div class="text-center">
    <h1 class="display-4 mt-3 mb-3">App Lista de Tarefas</h1>

    <h2 class="fs-1 mb-3">Atividade Formativa</h2>
    <h2 class="fs-4 mb-3">Descrição da Atividade</h2>
    <p class="lead">Desenvolva o FrontEnd da aplicação, utilizando o máximo de recursos visuais vistos até agora.</p>
    <p class="lead">Além de validar os campos do formulário, crie uma experiencia de navegação satisfatória, aplicando técnicas de UI/UX e responsividade</p>
    <p class="lead">
        <span class="fw-bold">Observação:</span>
        O Cadastro de Categorias solicita uma cor para cada categoria cadastrada.
        Essa cor cadastrada de colorir alguma elemento na lista de tarefas, afim de identicar visaulmente a categoria
        do item a partir da cor.
    </p>

    <hr class="m-3" />

    <h3 class="fs-5 mb-3 fw-bold">** Instuções Inicias **</h3>
    <ul class="text-start">
        <li>Altere o Host na String de Conexão, no arquivo appsettings.json</li>
        <li>No Console do Gerenciador de Pacotes execute o comando <span class="fw-bold">database-update</span> para criar o banco de dados</li>
        <li>Teste a Aplicação e os Links de Navegação</li>
    </ul>
    <p class="lead mb-5">
        <span class="fw-bold">Observação:</span>
        Os pacotes bootstrap 5.3,  bootstrap Icons e os pacotes relacionados ao EntityFramework já estão instalados e prontos para o uso.
    </p>
    <h1 class="display-5 mt-5 mb-5">Bom Trabalho e Boa Sorte!</h1>
</div>
